{% extends 'base.html' %}
{% block description %}
gestión de las tareas por realizar.
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}

{% block assets %}
<link rel="stylesheet" href="/assets/select2.css" />
<script type="text/javascript" 
    src="/assets/select2.min.js"></script>
{% endblock %}

{% block body %}
{{ body }}
<div class="span3">
    <div class="row">
        <button class="btn btn-success btn-small" id="nPro">
            Nuevo
        </button>
        <hr/>
    </div>
    <ul class="nav nav-list" id="pro-list">
        <li class="nav-header">
        Tareas
        </li>
        {% for item in items %}
        <li>
        <a class="btnEdit" data-id="{{item.id}}"
            data-descripcion="{{item.descripcion}}" 
            data-urgencia="{{item.urgencia}}"
            data-proyecto="{{item.pid}}"
            data-proyectoNombre="{{item.pnombre}}"
            data-nombre="{{item.nombre}}">
            {{ item.nombre }} 
            <button data-id="{{item.id}}" class="close">&times;</button>
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="span2"></div>
<div class="span4">
    <div class="row">
        <form id="proForm" class="form-horizontal" method="POST">
            <fieldset>
                <legend id="legend-pro"> Insertar  </legend>

                <input type="hidden" name="proid" id="proid" value="null"/>


                <div class="control-group">
                    <div class="control-label">
                        <label for="nombre">
                            Proyecto
                        </label>
                    </div>
                    <div class="controls">
                        <input type="hidden" id="pro-parent" name="pro-parent" />
                    </div>
                </div>


                <div class="control-group">
                    <div class="control-label">
                        <label for="nombre">
                            Nombre
                        </label>
                    </div>
                    <div class="controls">
                        <input type="text" name="nombre" />
                    </div>
                </div>


                <div class="control-group">
                    <div class="control-label">
                        <label for="nombre">
                            Descripcion
                        </label>
                    </div>
                    <div class="controls">
                        <input type="text" name="descripcion" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <select id="urgencia" name="urgencia">
                            <option value=""> -- Seleccionar Urgencia -- </option>
                            <option value="1"> Baja </option>
                            <option value="2"> Media </option>
                            <option value="3"> Alta </option>
                        </select>
                   </div>
                </div>


                <div class="contro-group">
                    <div class="controls">
                        <input type="submit" id="formAction" value="Agregar" class="btn" />
                    </div>
                </div>


            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="/assets/app/taskApp.js"></script>
{% endblock %}
